[project]
	description = "An ansible role designed to setup, install and integrate an IPA server with keystone in  a quickstart deployment."
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Harry Rybacki (HarryRybacki)
[access "refs/for/refs/*"]
	read = group user/Harry Rybacki (HarryRybacki)
	push = group user/Harry Rybacki (HarryRybacki)
	label-Code-Review = -2..+2 group user/Harry Rybacki (HarryRybacki)
	label-Verified = -1..+1 group user/Harry Rybacki (HarryRybacki)
	rebase = group user/Harry Rybacki (HarryRybacki)
	removeReviewer = group user/Harry Rybacki (HarryRybacki)
	submit = group user/Harry Rybacki (HarryRybacki)
[access "refs/heads/*"]
	read = group user/Harry Rybacki (HarryRybacki)
	create = group user/Harry Rybacki (HarryRybacki)
	push = +force group user/Harry Rybacki (HarryRybacki)
	pushMerge = group user/Harry Rybacki (HarryRybacki)
[access "refs/tags/*"]
	push = +force group user/Harry Rybacki (HarryRybacki)
	pushTag = group user/Harry Rybacki (HarryRybacki)
	pushSignedTag = group user/Harry Rybacki (HarryRybacki)
